* {
    background-color: #f4f7f6;
    text-align: center;
}

.App {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #f4f7f6;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
}

.header {
    position: sticky;
    top: 0;
    height: auto;
    line-height: 73px;
    font-size: 13px;
    font-weight: 400;
    background-color: #f4f7f6;
    z-index: 302;
    transition: all 0.3s;
}

.header-main {
    width: 100%;
    border-bottom: 1px solid #E6EAEA;
    display: grid;
    grid-template-columns: 10% 70% 20%;
}

.header-main>div {
    cursor: pointer;
    border-right: 1px solid #E6EAEA;
}

.searchBox-container {
    background-color: antiquewhite;
}

.box_filter {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #E6EAEA;
}

.box-filter-main {
    position: relative;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0;
    line-height: 73px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style-type: none;
}

.menu-filter {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.menu-filter li {
    width: 100px;
}

.item {
    border-right: 1px solid #E6EAEA;
    cursor: pointer;
    transition: color 0.3s ease-in-out, all 0.3s ease-in-out;
}